.profile-list {
  height: 435px;
  overflow: scroll;
}

/* Datepicker */
.datepicker.datepicker-dropdown,
.datepicker.datepicker-inline {
  padding: 0 25px;
  width: 30%;
  max-width: 500px;
  min-width: 250px;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  thead
  tr
  th,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  thead
  tr
  th {
  text-align: center;
  padding: 0.5rem 0;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.prev,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.prev {
  color: #434a54;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: left;
  background: #ffffff;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.datepicker-switch {
  color: #434a54;
  background: #ffffff;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.next,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.next {
  color: grey;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: right;
  background: #ffffff;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.dow,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.dow {
  font-family: "ubuntu-regular", sans-serif;
  color: #434a54;
  font-size: 0.875rem;
  font-weight: initial;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.dow:first-child,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.dow:first-child {
  text-align: left;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.dow:last-child,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  thead
  tr
  th.dow:last-child {
  text-align: right;
}
.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody,
.datepicker.datepicker-inline .datepicker-days table.table-condensed tbody {
  position: relative;
  top: 13px;
}
.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td,
.datepicker.datepicker-inline .datepicker-days table.table-condensed tbody td {
  text-align: center;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.day,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.day {
  font-size: 0.9375rem;
  padding: 0.5rem 0;
  color: #434a54;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.day:hover,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.day:hover {
  background: #ffffff;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.day.active,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.day.active {
  color: #fff;
  background: transparent;
  position: relative;
  z-index: 1;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.day.active:before,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.day.active:before {
  content: "";
  width: 38px;
  height: 38px;
  background: #1bcfb4;
  border-radius: 100%;
  display: block;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 1px;
  z-index: -1;
  left: 0;
  right: 0;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.day.today,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.day.today {
  color: #fff;
  background: transparent;
  position: relative;
  z-index: 1;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.day.today:before,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.day.today:before {
  content: "";
  width: 38px;
  height: 38px;
  background: #198ae3;
  border-radius: 100%;
  display: block;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 1px;
  z-index: -1;
  left: 0;
  right: 0;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.old.day,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.old.day {
  color: #d9dde3;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.range-start,
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.range-end,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.range-start,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.range-end {
  background: transparent;
  position: relative;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.range-start::before,
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.range-end::before,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.range-start::before,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.range-end::before {
  content: "";
  width: 28px;
  height: 28px;
  background: rgba(27, 207, 180, 0.2);
  border-radius: 4px;
  display: block;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 6px;
  z-index: -1;
  left: 0;
  right: 0;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.range,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.range {
  position: relative;
  background: transparent;
}
.datepicker.datepicker-dropdown
  .datepicker-days
  table.table-condensed
  tbody
  td.range::before,
.datepicker.datepicker-inline
  .datepicker-days
  table.table-condensed
  tbody
  td.range::before {
  content: "";
  width: 28px;
  height: 28px;
  background: #eee;
  border-radius: 4px;
  display: block;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 6px;
  z-index: -1;
  left: 0;
  right: 0;
}
.datepicker.datepicker-dropdown .datepicker-days,
.datepicker.datepicker-dropdown .datepicker-months,
.datepicker.datepicker-dropdown .datepicker-years,
.datepicker.datepicker-dropdown .datepicker-decades,
.datepicker.datepicker-dropdown .datepicker-centuries,
.datepicker.datepicker-inline .datepicker-days,
.datepicker.datepicker-inline .datepicker-months,
.datepicker.datepicker-inline .datepicker-years,
.datepicker.datepicker-inline .datepicker-decades,
.datepicker.datepicker-inline .datepicker-centuries {
  padding: 0.8rem 0.7rem;
}
.datepicker.datepicker-dropdown .datepicker-days table.table-condensed,
.datepicker.datepicker-dropdown .datepicker-months table.table-condensed,
.datepicker.datepicker-dropdown .datepicker-years table.table-condensed,
.datepicker.datepicker-dropdown .datepicker-decades table.table-condensed,
.datepicker.datepicker-dropdown .datepicker-centuries table.table-condensed,
.datepicker.datepicker-inline .datepicker-days table.table-condensed,
.datepicker.datepicker-inline .datepicker-months table.table-condensed,
.datepicker.datepicker-inline .datepicker-years table.table-condensed,
.datepicker.datepicker-inline .datepicker-decades table.table-condensed,
.datepicker.datepicker-inline .datepicker-centuries table.table-condensed {
  width: 100%;
}

.datepicker.datepicker-inline {
  width: 100%;
  max-width: 100%;
  min-width: 250px;
}
.datepicker.datepicker-inline thead tr th.prev {
  color: grey;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.datepicker.datepicker-inline thead tr th.datepicker-switch {
  color: #b66dff;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.datepicker.datepicker-inline thead tr th.next {
  color: grey;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.datepicker > div {
  display: initial;
}

.datepicker-custom {
  width: 100%;
  padding: 0;
}
.datepicker-custom .datepicker.datepicker-inline {
  display: block;
  padding: 0;
  height: 100%;
}
.datepicker-custom .datepicker.datepicker-inline .datepicker-days {
  display: block;
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td {
  padding: 1rem;
  text-align: center;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    tbody
    tr
    td {
    padding: 1rem 0.5rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day.today:before {
  top: 13px;
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day.active:before {
  top: 13px;
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day:first-child {
  padding-left: 2.5rem;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    tbody
    tr
    td.day:first-child {
    padding-left: 0.5rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day:first-child.today:before,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day:first-child.active:before {
  left: 1.5rem;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    tbody
    tr
    td.day:first-child.today:before,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    tbody
    tr
    td.day:first-child.active:before {
    left: 0.25rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day:last-child {
  padding-right: 2.5rem;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    tbody
    tr
    td.day:last-child {
    padding-right: 0.5rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day:last-child.today:before,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  tbody
  tr
  td.day:last-child.active:before {
  right: 1.5rem;
}
.datepicker-custom .datepicker.datepicker-inline .datepicker-days,
.datepicker-custom .datepicker.datepicker-inline .datepicker-months,
.datepicker-custom .datepicker.datepicker-inline .datepicker-years,
.datepicker-custom .datepicker.datepicker-inline .datepicker-decades,
.datepicker-custom .datepicker.datepicker-inline .datepicker-centuries {
  height: 100%;
  padding: 0 0 1rem 0;
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed {
  height: 100%;
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#84d9d2),
    to(#07cdae)
  );
  background: linear-gradient(to right, #84d9d2, #07cdae);
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.dow,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.dow,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.dow,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.dow,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.dow {
  background: transparent;
  border-radius: 0;
  color: #ffffff;
  padding: 2rem 1rem;
  font-family: "ubuntu-bold", sans-serif;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.next,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.prev,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.dow,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.next,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.prev,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.dow,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.next,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.prev,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.dow,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.next,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.prev,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.dow,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.next,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.prev,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.dow {
    padding: 2rem 0.5rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.next:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.prev:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.datepicker-switch:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.dow:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.next:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.prev:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.datepicker-switch:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.dow:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.next:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.prev:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.datepicker-switch:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.dow:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.next:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.prev:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.datepicker-switch:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.dow:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.next:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.prev:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.datepicker-switch:first-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.dow:first-child {
  padding-left: 2.5rem;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.next:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.prev:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.datepicker-switch:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.dow:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.next:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.prev:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.datepicker-switch:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.dow:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.next:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.prev:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.datepicker-switch:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.dow:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.next:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.prev:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.datepicker-switch:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.dow:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.next:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.prev:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.datepicker-switch:first-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.dow:first-child {
    padding-left: 0.5rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.next:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.prev:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.datepicker-switch:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.dow:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.next:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.prev:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.datepicker-switch:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.dow:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.next:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.prev:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.datepicker-switch:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.dow:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.next:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.prev:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.datepicker-switch:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.dow:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.next:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.prev:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.datepicker-switch:last-child,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.dow:last-child {
  padding-right: 2.5rem;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.next:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.prev:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.datepicker-switch:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.dow:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.next:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.prev:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.datepicker-switch:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.dow:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.next:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.prev:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.datepicker-switch:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.dow:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.next:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.prev:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.datepicker-switch:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.dow:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.next:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.prev:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.datepicker-switch:last-child,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.dow:last-child {
    padding-right: 0.5rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.datepicker-switch,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.datepicker-switch {
  font-size: 2rem;
}
@media (max-width: 991px) {
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-days
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-months
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-years
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-decades
    .table-condensed
    thead
    tr
    th.datepicker-switch,
  .datepicker-custom
    .datepicker.datepicker-inline
    .datepicker-centuries
    .table-condensed
    thead
    tr
    th.datepicker-switch {
    font-size: 1rem;
  }
}
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-days
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-months
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-years
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-decades
  .table-condensed
  thead
  tr
  th.prev,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.next,
.datepicker-custom
  .datepicker.datepicker-inline
  .datepicker-centuries
  .table-condensed
  thead
  tr
  th.prev {
  font-size: 1.5rem;
}

/* Bootstrap Alerts */
.alert {
  font-size: 0.875rem;
}
.alert i {
  font-size: 1.25rem;
  margin-right: 1.25rem;
  vertical-align: middle;
  line-height: 0.5;
}

.alert-primary {
  color: #8a53c2;
  background-color: rgba(182, 109, 255, 0.2);
  border-color: #a764eb;
}
.alert-primary hr {
  border-top-color: #9a4de8;
}
.alert-primary .alert-link {
  color: #713ba7;
}

.alert-secondary {
  color: #949090;
  background-color: rgba(195, 189, 189, 0.2);
  border-color: #b3aeae;
}
.alert-secondary hr {
  border-top-color: #a7a1a1;
}
.alert-secondary .alert-link {
  color: #7b7676;
}

.alert-success {
  color: #159d89;
  background-color: rgba(27, 207, 180, 0.2);
  border-color: #19bea6;
}
.alert-success hr {
  border-top-color: #16a792;
}
.alert-success .alert-link {
  color: #0f7062;
}

.alert-info {
  color: #1369ad;
  background-color: rgba(25, 138, 227, 0.2);
  border-color: #177fd1;
}
.alert-info hr {
  border-top-color: #1471ba;
}
.alert-info .alert-link {
  color: #0e4d7f;
}

.alert-warning {
  color: #c1a30e;
  background-color: rgba(254, 215, 19, 0.2);
  border-color: #eac611;
}
.alert-warning hr {
  border-top-color: #d2b20f;
}
.alert-warning .alert-link {
  color: #917b0b;
}

.alert-danger {
  color: #c15e72;
  background-color: rgba(254, 124, 150, 0.2);
  border-color: #ea728a;
}
.alert-danger hr {
  border-top-color: #e75c78;
}
.alert-danger .alert-link {
  color: #aa4257;
}

.alert-light {
  color: #bcbdbe;
  background-color: rgba(248, 249, 250, 0.2);
  border-color: #e4e5e6;
}
.alert-light hr {
  border-top-color: #d7d8da;
}
.alert-light .alert-link {
  color: #a2a4a5;
}

.alert-dark {
  color: #2f3945;
  background-color: rgba(62, 75, 91, 0.2);
  border-color: #394554;
}
.alert-dark hr {
  border-top-color: #2f3945;
}
.alert-dark .alert-link {
  color: #1a2027;
}

.alert-fill-primary {
  color: #ffffff;
  background-color: #b66dff;
  border-color: #b66dff;
}
.alert-fill-primary hr {
  border-top-color: #a954ff;
}
.alert-fill-primary .alert-link {
  color: #e6e6e6;
}

.alert-fill-secondary {
  color: #ffffff;
  background-color: #c3bdbd;
  border-color: #c3bdbd;
}
.alert-fill-secondary hr {
  border-top-color: #b7b0b0;
}
.alert-fill-secondary .alert-link {
  color: #e6e6e6;
}

.alert-fill-success {
  color: #ffffff;
  background-color: #1bcfb4;
  border-color: #1bcfb4;
}
.alert-fill-success hr {
  border-top-color: #18b8a0;
}
.alert-fill-success .alert-link {
  color: #e6e6e6;
}

.alert-fill-info {
  color: #ffffff;
  background-color: #198ae3;
  border-color: #198ae3;
}
.alert-fill-info hr {
  border-top-color: #167ccc;
}
.alert-fill-info .alert-link {
  color: #e6e6e6;
}

.alert-fill-warning {
  color: #ffffff;
  background-color: #fed713;
  border-color: #fed713;
}
.alert-fill-warning hr {
  border-top-color: #f6ce01;
}
.alert-fill-warning .alert-link {
  color: #e6e6e6;
}

.alert-fill-danger {
  color: #ffffff;
  background-color: #fe7c96;
  border-color: #fe7c96;
}
.alert-fill-danger hr {
  border-top-color: #fe6382;
}
.alert-fill-danger .alert-link {
  color: #e6e6e6;
}

.alert-fill-light {
  color: #ffffff;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.alert-fill-light hr {
  border-top-color: #e9ecef;
}
.alert-fill-light .alert-link {
  color: #e6e6e6;
}

.alert-fill-dark {
  color: #ffffff;
  background-color: #3e4b5b;
  border-color: #3e4b5b;
}
.alert-fill-dark hr {
  border-top-color: #343f4c;
}
.alert-fill-dark .alert-link {
  color: #e6e6e6;
}

/* Data Tables */
.dataTables_wrapper {
  padding-left: 0;
  padding-right: 0;
}
.dataTables_wrapper label {
  font-size: 0.8125rem;
}
.dataTables_wrapper select {
  padding: 0.4rem;
}
.dataTables_wrapper .dataTables_length select {
  min-width: 65px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.dataTables_wrapper .dataTable .btn,
.dataTables_wrapper .dataTable .fc button,
.fc .dataTables_wrapper .dataTable button,
.dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload,
.ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload,
.dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled,
.swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled,
.dataTables_wrapper .dataTable .wizard > .actions a,
.wizard > .actions .dataTables_wrapper .dataTable a {
  padding: 0.1rem 1rem;
  vertical-align: top;
}
.dataTables_wrapper .dataTable thead th {
  border-bottom-width: 0;
}
.dataTables_wrapper .dataTable thead .sorting:before,
.dataTables_wrapper .dataTable thead .sorting:after,
.dataTables_wrapper .dataTable thead .sorting_asc:before,
.dataTables_wrapper .dataTable thead .sorting_asc:after,
.dataTables_wrapper .dataTable thead .sorting_desc:before,
.dataTables_wrapper .dataTable thead .sorting_desc:after,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
  line-height: 2.5;
  font-family: Material Design Icons;
  font-size: 0.65rem;
}
.dataTables_wrapper .dataTable thead .sorting:before,
.dataTables_wrapper .dataTable thead .sorting_asc:before,
.dataTables_wrapper .dataTable thead .sorting_desc:before,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
  content: "\F05D";
  right: 1.2em;
}
.dataTables_wrapper .dataTable thead .sorting:after,
.dataTables_wrapper .dataTable thead .sorting_asc:after,
.dataTables_wrapper .dataTable thead .sorting_desc:after,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
  content: "\F045";
  right: 0.2em;
}
.dataTables_wrapper .dataTables_paginate {
  margin-top: 20px;
}
.dataTables_wrapper .dataTables_info {
  font-size: 0.875rem;
}

/* Light Gallery */
.lightGallery {
  width: 100%;
  margin: 0;
}
.lightGallery .image-tile {
  position: relative;
  margin-bottom: 30px;
}
.lightGallery .image-tile .demo-gallery-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lightGallery .image-tile .demo-gallery-poster img {
  display: block;
  margin: auto;
  width: 40%;
  max-width: 60px;
  min-width: 20px;
}
.lightGallery .image-tile img {
  max-width: 100%;
  width: 100%;
}
